<div class="post-index">
    <div class="post-user-info">
        <div class="img">image</div>
        <div>
            <div></div>
        </div>
    </div>
    <div>
        <div></div>
    </div>
    <div>
        <div></div>
    </div>
</div>