.user-list {
    width: 50%;
    margin: 50px auto;
    display: flex;
}

.image {
    background-color: teal;
    color: #fff;
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info {
    border: 1px solid teal;
    border-radius: 20px;
    flex: 1;
    margin: 20px 0;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.user-name {
    font-size: 25px;
    font-weight: 600;
    padding-left: 30px;
}

.user-num-posts {
    padding-top: 40px;
    padding-right: 30px;
}