<div class="add-btn-container">
    <%= link_to new_user_post_path(@user) do %>
        <button class="add-post-btn">
            <i class="far fa-edit"></i>
            <span class="btn-txt">New post</span>
        </button>
    <% end %>
</div>