<div class="comment-btn-container">
    <%= link_to new_user_post_comment_path(@user, @post) do %>
        <button class="comment-btn">
            <i class="far fa-comment"></i>
            <span>Comment</span>
        </button>
    <% end %>
</div>