<div class="info-user">
    <div class="img" style="background-image: url(<%= @user.photo %>); background-repeat: no-repeat; background-position: center; background-size: 200px auto;"></div>
    <div class="user-name-posts">
        <div class="user-show-name"><%= @user.name %></div>
        <div class="user-post">Number of posts: <%= @user.postCounter %></div>
    </div>
</div>