<div class="info-user">
    <div class="img">image</div>
    <div class="user-name-posts">
        <div class="user-name">User name</div>
        <div class="user-post">Number of posts: x</div>
    </div>
</div>